<link rel="stylesheet" href="/css/home.css">

    <section class="img-holder">
      <div ui-sref="country"><div class = "img" id="country-img">Country</div></div>
      <div ui-sref="electro"><div class = "img" id="electro-img">Electronic</div></div>
      <div ui-sref="oldies"><div class = "img" id="oldies-img">Oldies</div></div>
      <div ui-sref="rock"><div class = "img" id="rock-img">Rock</div></div>
      <div ui-sref="hair"><div class = "img" id="hair-img">Hair&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMetal</div></div>
      <div ui-sref="funk"><div class = "img" id="funk-img">&nbsp&nbsp&nbsp&nbsp&nbspFunk</div></div>
    </section>
